@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;    
}

.navbar{
    background:whitesmoke;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-lt img{
    margin-top:2px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    list-style: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navbar li a{
    text-decoration: none;
    color: #82868f;
    margin: 0 2rem;
}

.btn{
        border-radius: 50px;
        border:none;
        width: 127px;
        height: 42px;
        background-color: #0ebfdd;
        color: white;
        font-size: 17.86px;
}

.header-main{
    background-image: url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    color: white;
}

.header-main .intro{
        font-size: 44px;
        position: relative;
}

.header-main p{
    margin-bottom: -300px;
    text-align: center;
    width: 48%;
    font-size: 20px;
}
  
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
}

.about h1{
    color: #0ebfdd;
    font-size: 44px;
    margin-top: 3rem;
    font-weight: 200;
}

.about p{
    width: 48%;
    text-align: center;
    font-size: 20px;
    margin-top: .8rem;
}

.team{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #0ebfdd;
    height: 600px;
    color: white;
}

.team h1{
    font-size: 44px;
    font-weight: 200;
}

.team-images{
    display: flex;
}

.tm-pos{
    margin:0 2rem;
}

.tm-pos img{
border-radius: 50%;
}

.team-degination{
    text-align: center;
}

.team-degination p{
    font-weight: normal;
}

.team-btn{
    height: 40px;
    width: 180px;
    border-radius: 50px;
    background-color: #0ebfdd;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border:1px solid white;
}

.map{
    background-image: url(./images/map.jpg);
    background-size: 101%;
    height: 600px;
}

footer{
    background-color: #45494d;
    height: 150px;
}

.footer-up{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-lt ul{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
 .pos{
    margin-top: 2rem;
}

.footer-lt li{
   list-style: none;
 
}

.footer-lt a{
    color: #d7dee4;
    text-decoration: none;
    margin: 1rem;
}

.footer-rt ul{
    display: flex;
    align-items: center;
}

.footer-rt li{
   list-style: none;
 
}

.footer-rt a{
    color: #d7dee4;
    text-decoration: none;
    margin: 1rem;
    border: 1px solid white;
    padding:10px;
    font-size: 15px;
    border-radius: 50%;
}

hr{
    width: 61%;
    margin: 2rem auto;
}
  