@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: whitesmoke;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.bars {
    z-index: 100;
    position:fixed; 
}

.links {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: whitesmoke;
    height: 100vh;
    width: 250px;
    opacity: 0;
}

.links.open {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.links li {
    list-style: none;
}

.links li .btn {
    border-radius: 50px;
    border: none;
    width: 127px;
    height: 42px;
    background-color: #0ebfdd;
    color: white;
    font-size: 17.86px;
}

.links a {
    color: #686b6f;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.nav-lt img {
    margin-top: 2px;
}

.nav-rt i {
    font-size: 32px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 60px;
    top: -1.2rem;
}

.navbar {
    flex-direction: row;
}

.nav-rt .btn {
    display: none;
}

.header-main {
    background-image: url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.header-main {
    height: 300px;
    position: relative;
    justify-content: center;
}

.header-main p {
    text-align: center;
    font-size: 20px;
}

.header-main .intro {
    font-size: 23px;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.about h1 {
    color: #0ebfdd;
    font-size: 44px;
    font-weight: 200;
}

.about p {
    width: 90%;
    text-align: center;
    font-size: 18px;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #0ebfdd;
    height: 850px;
    color: white;
}

.team h1 {
    font-size: 44px;
    font-weight: 200;
}

.team-images {
    display: flex;
    flex-direction: column;
}

.tm-pos {
    margin: 0.5rem 0;
}

.tm-pos img {
    border-radius: 50%;
}

.team-degination {
    text-align: center;
}

.team-degination p {
    font-weight: normal;
}

.team-btn {
    height: 40px;
    width: 180px;
    border-radius: 50px;
    background-color: #0ebfdd;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid white;
}

.map {
    background-image: url(./images/map.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #45494d;
    height: 150px;
}

.footer-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-lt ul {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.pos {
    margin-top: 2rem;
}

.footer-lt li {
    list-style: none;
}

.footer-lt a {
    color: #d7dee4;
    text-decoration: none;
    margin: 1rem;
}

.footer-rt ul {
    display: flex;
    align-items: center;
}

.footer-rt li {
    list-style: none;
}

.footer-rt a {
    color: #d7dee4;
    text-decoration: none;
    margin: 1rem;
    border: 1px solid white;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
}

hr {
    width: 61%;
    margin: 2rem auto 1rem auto;
}

.footer-bottom ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*    width: 81%;*/
}

.footer-bottom a {
    color: #686b6f;
    text-decoration: none;
    margin: .6rem;
    font-weight: 700;
}

.footer-bottom li {
    list-style: none;
}

span {
    color: #686b6f;
}

.about p {
    margin-top: 0;
}

.map {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    height: 220px;
}

.footer-up {
    flex-direction: column;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom a {
    font-size: 12px;
    margin: 0.2em;
}

span {
    align-items: center;
}


/*responsive*/

@media (min-width:770px) {
    .links {
        position: inherit;
        height: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    
    .links li .btn{
        display: none;
    }
    
    .links ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar li {
        list-style: none;
        text-transform: uppercase;
    }
    .navbar li a.open {
        text-decoration: none;
        color: #82868f;
        font-size: 17px;
        text-align: center;
        margin: 4.1rem;
    }
    .nav-rt .btn {
        display: block
    }
    .bars {
        display: none;
    }
    .btn {
        border-radius: 50px;
        border: none;
        width: 127px;
        height: 42px;
        background-color: #0ebfdd;
        color: white;
        font-size: 17.86px;
    }
    .nav-lt img {
        margin-top: 0.6rem;
    }
    .navbar li a {
        font-size: 16px;
        text-align: center;
        margin: 1rem;
        transition: all 0.2s ease-in-out;
    }
    .navbar li a:hover {
        border-bottom: 1px solid black;
    }
    .header-main .intro {
        margin-top: 1.5rem;
    }
    .header-main p {
        margin-bottom: 30px;
        width: 40%;
        transition: 0.5s ease-in-out;
    }
    .about h1 {
        font-size: 40px;
        margin-top: 1.2rem;
    }
    .about p {
        margin-top: ;
        width: 60%;
    }
    .about h1 {
        font-size: 40px;
        margin-top: 1rem;
    }
    .map {
        height: 600px;
    }
    footer {
        height: 200px;
    }
    .footer-up {
        flex-direction: row;
    }
    .footer-pos {
        width: 80%;
        margin: 0 auto;
    }
    footer {
        height: 150px;
    }
    footer .footer-bottom {
        justify-content: flex-end
    }
    .footer-bottom {
        display: flex;
        align-items: center;
    }
    .footer-bottom a {
        font-size: 16px;
        margin: 0 0 0 1em;
    }
    hr {
        width: 100%;
    }
}

@media(max-width:1100px) {
    .navbar li a {
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1180px) {
    .navbar li a {
        font-size: 17px;
        text-align: center;
        margin: 4.1rem;
    }
    .footer-pos {
        width: 80%;
        margin: 0 auto;
    }
    footer {
        height: 150px;
    }
    footer .footer-bottom {
        justify-content: flex-end
    }
}

@media (min-width:1100px) {
    .navbar {
        font-size: 17px;
        text-align: center;
        justify-content: space-around;
    }
    .navbar li a {
        font-size: 22px;
    }
}